<footer class="main-footer">
    <div class="float-right d-none d-sm-block">
        <b>Version</b> Beta 0.1
    </div>
    <strong>Clinica Chorrillos</strong> All rights reserved.
</footer>

<aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
</aside>