<nav class="main-header navbar navbar-expand navbar-white navbar-light">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a th:href="@{/}" class="nav-link">Inicio</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a th:href="@{/logout}" class="nav-link">Cerrar Sesion</a>
        </li>
    </ul>
</nav>

<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <div class="sidebar">
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img th:src="@{/img/avatar5.png}" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
                <a class="nav-link" th:utext="${session.usuario.nombre}"></a>
            </div>
        </div>

        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <li class="nav-item has-treeview" sec:authorize="hasAuthority('ADMINISTRADOR')">
                    <a class="nav-link">
                        <i class="nav-icon fas fa-edit"></i>
                        <p>Mantenimientos<i class="fas fa-angle-left right"></i></p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a th:href="@{/especialidad/resumen}" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Especialidades</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a th:href="@{/doctor/resumen}" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Medicos</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a th:href="@{/paciente/resumen}" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Pacientes</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item has-treeview" sec:authorize="hasAuthority('DOCTOR')">
                    <a href="#" class="nav-link">
                        <i class="nav-icon far fa-calendar-alt"></i>
                        <p>Consulta Medica<i class="fas fa-angle-left right"></i></p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a th:href="@{/consulta/crear}" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Generar Consulta</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a th:href="@{/consulta/buscar}" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Listar Consulta</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-file"></i>
                        <p>Reportes<i class="fas fa-angle-left right"></i></p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item" sec:authorize="hasAuthority('DOCTOR')">
                            <a th:href="@{/reporte/historia}" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Historia Clinica</p>
                            </a>
                        </li>
                        <li class="nav-item" sec:authorize="hasAuthority('ADMINISTRADOR')">
                            <a th:href="@{/reporte/medicos}" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Medicos por Especialidad</p>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
</aside>