<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Clinica - Chorrillos</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <th:block th:insert="fragments/recursos-css" />
</head>
<body class="hold-transition sidebar-mini">
<div class="wrapper">
    <th:block th:insert="fragments/menu" />

    <div class="content-wrapper">
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Lista de Consultas</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item">Consulta</li>
                            <li class="breadcrumb-item active">Lista Consultas</li>
                        </ol>
                    </div>
                </div>
            </div>
        </section>

        <section class="content">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <a th:href="@{/consulta/crear}" class="btn btn-primary">Agergar</a>
                    <h2 th:if="${consultas.isEmpty()}"
                        class="h4 mb-0 text-black">No hay Doctores Registrados</h2>
                    <table th:if="${not consultas.isEmpty()}" class="table table-bordered">
                        <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Fecha</th>
                            <th scope="col">Doctor</th>
                            <th scope="col">Paciente</th>
                            <th scope="col">Accion</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="consulta : ${consultas}">
                            <th scope="row" th:text="${consulta.id}"></th>
                            <td th:text="${consulta.fecha}"></td>
                            <td th:text="${consulta.doctor.nombre}"></td>
                            <td th:text="${consulta.paciente.nombre}"></td>
                            <td>
                                <a href="#"
                                   th:href="@{/doctor/modificar/{id}(id=${consulta.id})}"
                                   class="btn btn-info btn-circle btn-sm">
                                    <i class="fas fa-edit"></i>
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-2"></div>
            </div>
        </section>
    </div>

    <th:block th:insert="fragments/footer" />
</div>

    <script type="text/javascript">
    </script>

<th:block th:insert="fragments/recursos-js" />
</body>
</html>