<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Clinica - Chorrillos</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <th:block th:insert="fragments/recursos-css" />
</head>

<body class="hold-transition sidebar-mini">
<div class="wrapper">
    <th:block th:insert="fragments/menu" />

    <div class="content-wrapper">
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Doctor</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item">Consulta Medica</li>
                            <li class="breadcrumb-item active">Generar</li>
                        </ol>
                    </div>
                </div>
            </div>
        </section>

        <section class="content">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <div class="card card-success">
                        <div class="card-header">
                            <h3 class="card-title">Nueva Consulta</h3>
                        </div>
                        <form role="form" th:method="post" th:action="@{/consulta/crear}">
                            <div class="card-body">
                                <div class="form-group">
                                    <label for="idDoctor">Doctor</label>
                                    <select class="form-control" id="idDoctor" name="idDoctor">
                                        <option th:each="doctor : ${doctores}"
                                                th:value="${doctor.id}"
                                                th:utext="${doctor.nombre}"/>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="idPaciente">Paciente</label>
                                    <select class="form-control" id="idPaciente" name="idPaciente">
                                        <option th:each="paciente : ${pacientes}"
                                                th:value="${paciente.id}"
                                                th:utext="${paciente.nombre}"/>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>Fecha</label>
                                    <div class="input-group date" data-provide="datepicker"
                                         data-date-format="dd/mm/yyyy">
                                        <input type="text" class="form-control" id="fecha"
                                               name="fecha" placeholder="dd/mm/yyyy" required="required">
                                        <div class="input-group-append">
                                            <span class="input-group-text fa fa-calendar"></span>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="card-footer">
                                <button type="submit" class="btn btn-primary">Guardar</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-md-3"></div>
            </div>
        </section>
    </div>

    <th:block th:insert="fragments/footer" />
</div>

<!-- Optional JavaScript -->
<th:block th:insert="fragments/recursos-js" />

<script type="text/javascript">

</script>

</body>
</html>