<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Clinica - Chorrillos</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <th:block th:insert="fragments/recursos-css" />
</head>

<body class="hold-transition sidebar-mini">
    <div class="wrapper">
        <th:block th:insert="fragments/menu" />

        <div class="content-wrapper">
            <section class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1>Lista de Especialidades</h1>
                        </div>
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item">Manenimiento</li>
                                <li class="breadcrumb-item active">Especialidades</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </section>

            <section class="content">
                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-6">
                        <button class="btn btn-primary"  data-toggle="modal" data-target="#insertarModal">Agergar</button>
                        <h2 th:if="${listaespecialidad.isEmpty()}"
                            class="h4 mb-0 text-black">No hay Especialidades Registradas</h2>
                        <table th:if="${not listaespecialidad.isEmpty()}" class="table table-bordered">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Nombre</th>
                                    <th scope="col">Accion</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="especialidad : ${listaespecialidad}">
                                    <th scope="row" th:text="${especialidad.id}"></th>
                                    <td th:text="${especialidad.nombre}"></td>
                                    <td>
                                        <button class="btn btn-info btn-circle btn-sm"
                                                data-toggle="modal"
                                                data-target="#modificarModal"
                                                th:onclick="'llenarmodal(' + ${especialidad.id} + ')'"
                                        >
                                            <i class="fas fa-edit"></i></button>

                                        <a href="#"
                                           th:onclick="'eliminar(' + ${especialidad.id} + ')'"
                                           class="btn btn-danger btn-circle btn-sm" >
                                            <i class="fas fa-trash"></i>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-3"></div>
                </div>
            </section>
        </div>

        <th:block th:insert="fragments/footer" />
    </div>

    <!-- Modal -->
    <div class="modal fade" id="insertarModal" tabindex="-1" role="dialog" aria-labelledby="insertarModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="insertarModalLabel">Insertar Especialidad</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Nombre Especialidad" id="nombre">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-primary"
                            th:onclick="'insertar()'"
                            data-dismiss="modal"
                    >Grabar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modificarModal" tabindex="-1" role="dialog" aria-labelledby="modificarModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modificar Especialidad</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Nombre Especialidad" id="nombres">
                        <input type="hidden" id="idmodificado">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-primary"
                            th:onclick="'modificar()'"
                            data-dismiss="modal"
                    >Grabar</button>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        function llenarmodal(id){
            $("#idmodificado").val(id);
            console.log(id);
        }

        function insertar(){
            let nombre = $("#nombre").val();
            Swal.fire({
                title: 'Insertar Especialidad',
                html: "Esta operaci&oacute;n no se podr&aacute; revertir",
                icon : "info",
                showCancelButton: true,
                confirmButtonText: 'S&iacute;, insertar especialidad',
                confirmButtonColor: '#d33',
                showLoaderOnConfirm: true,
                preConfirm: () => {
                    return fetch("/especialidad/insertar/" + nombre, { method: 'POST' })
                      .then(response => {
                          if (!response.ok) {
                              throw new Error("Ocurrio un error")
                          }
                          return response.json()
                      })
                      .catch(error => {
                          Swal.showValidationMessage(error)
                      })
                  },
                allowOutsideClick: () => !Swal.isLoading()
            }).then((result) => {
                if (result.value) {
                    Swal.fire({
                        title: "Resultado",
                        text: result.value.message
                    }).then((result) => {
                        window.location = "/especialidad/resumen";
                    })
                }
            });
        }

        function modificar(){
            let nombre = $("#nombres").val();
            let id = $("#idmodificado").val();
            console.log(id);
            Swal.fire({
                title: 'Modificar Especialidad',
                html: "Esta operaci&oacute;n no se podr&aacute; revertir",
                icon : "info",
                showCancelButton: true,
                confirmButtonText: 'S&iacute;, Modificar Especialidad',
                confirmButtonColor: '#d33',
                showLoaderOnConfirm: true,
                preConfirm: () => {
                    return fetch("/especialidad/modificar/" + nombre + "/" + id, { method: 'POST' })
                      .then(response => {
                          if (!response.ok) {
                              throw new Error("Ocurrio un error")
                          }
                          return response.json()
                      })
                      .catch(error => {
                          Swal.showValidationMessage(error)
                      })
                  },
                allowOutsideClick: () => !Swal.isLoading()
            }).then((result) => {
                if (result.value) {
                    Swal.fire({
                        title: "Resultado",
                        text: result.value.message
                    }).then((result) => {
                        window.location = "/especialidad/resumen";
                    })
                }
            });
        }

        function eliminar(id) {
            Swal.fire({
                title: 'Eliminar Especialidad',
                html: "Esta operaci&oacute;n no se podr&aacute; revertir",
                icon : "warning",
                showCancelButton: true,
                confirmButtonText: 'S&iacute;, eliminar especialidad',
                confirmButtonColor: '#d33',
                showLoaderOnConfirm: true,
                preConfirm: () => {
                    return fetch("/especialidad/eliminar/" + id, { method: 'POST' })
                      .then(response => {
                          if (!response.ok) {
                              throw new Error("Ocurrio un error")
                          }
                          return response.json()
                      })
                      .catch(error => {
                          Swal.showValidationMessage(error)
                      })
                  },
                allowOutsideClick: () => !Swal.isLoading()
            }).then((result) => {
                if (result.value) {
                    Swal.fire({
                        title: "Resultado",
                        text: result.value.message
                    }).then((result) => {
                        window.location = "/especialidad/resumen";
                    })
                }
            });
        }

    </script>

    <!-- Optional JavaScript -->
    <th:block th:insert="fragments/recursos-js" />
</body>
</html>