<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Clinica - Chorrillos</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <th:block th:insert="fragments/recursos-css" />
</head>
<body class="hold-transition sidebar-mini">

<div class="wrapper">
    <th:block th:insert="fragments/menu" />

    <div class="content-wrapper">
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Paciente</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item">Manenimiento</li>
                            <li class="breadcrumb-item active">
                                <a th:href="@{/paciente/resumen}">
                                    Paciente
                                </a>
                            </li>
                            <li class="breadcrumb-item">Agregar</li>
                        </ol>
                    </div>
                </div>
            </div>
        </section>

        <section class="content">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <div class="card card-info">
                        <div class="card-header">
                            <h3 class="card-title">Nuevo Registro</h3>
                        </div>
                        <form role="form" th:method="post" th:action="@{/paciente/agregar}">
                            <div class="card-body">
                                <div class="form-group">
                                    <label for="primernombre">Nombres</label>
                                    <input type="text" class="form-control" id="primernombre" name="primernombre" required="required">
                                </div>
                                <div class="form-group">
                                    <label for="segundonombre">Apellidos</label>
                                    <input type="text" class="form-control" id="segundonombre" name="segundonombre" required="required">
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="dni">DNI</label>
                                            <input type="text" class="form-control" id="dni" name="dni" required="required">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="historia">Historia Clinica</label>
                                            <input type="text" class="form-control" id="historia" name="historia" required="required">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <button type="submit" class="btn btn-primary">Guardar</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-md-3"></div>
            </div>
        </section>
    </div>

    <th:block th:insert="fragments/footer" />
</div>

<th:block th:insert="fragments/recursos-js" />
</body>
</html>