<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Clinica - Chorrillos</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <th:block th:insert="fragments/recursos-css" />
</head>
<body class="hold-transition sidebar-mini">
    <div class="wrapper">
        <th:block th:insert="fragments/menu" />

        <div class="content-wrapper">
            <section class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1>Lista de Pacientes</h1>
                        </div>
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item">Manenimiento</li>
                                <li class="breadcrumb-item active">Pacientes</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </section>

            <section class="content">
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-8">
                        <a th:href="@{/paciente/agregar}" class="btn btn-primary">Agergar</a>
                        <h2 th:if="${listapacientes.isEmpty()}"
                            class="h4 mb-0 text-black">No hay Pacientes Registrados</h2>
                        <table th:if="${not listapacientes.isEmpty()}" class="table table-bordered">
                            <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Nombre</th>
                                <th scope="col">Apellido</th>
                                <th scope="col">Historia</th>
                                <th scope="col">Accion</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="paciente : ${listapacientes}">
                                <th scope="row" th:text="${paciente.id}"></th>
                                <td th:text="${paciente.primerNombre}"></td>
                                <td th:text="${paciente.segundoNombre}"></td>
                                <td th:text="${paciente.numeroHistoria}"></td>
                                <td>
                                    <a href="#"
                                       th:href="@{/paciente/modificar/{id}(id=${paciente.id})}"
                                       class="btn btn-info btn-circle btn-sm">
                                        <i class="fas fa-edit"></i>
                                    </a>
                                    <a href="#"
                                       th:onclick="'eliminar(' + ${paciente.id} + ')'"
                                       class="btn btn-danger btn-circle btn-sm" >
                                        <i class="fas fa-trash"></i>
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-2"></div>
                </div>
            </section>
        </div>

        <th:block th:insert="fragments/footer" />
    </div>

    <script type="text/javascript">
        function eliminar(id) {
            Swal.fire({
                title: 'Eliminar Paciente',
                html: "Esta operaci&oacute;n no se podr&aacute; revertir",
                icon : "warning",
                showCancelButton: true,
                confirmButtonText: 'S&iacute;, eliminar paciente',
                confirmButtonColor: '#d33',
                showLoaderOnConfirm: true,
                preConfirm: () => {
                    return fetch("/paciente/eliminar/" + id, { method: 'POST' })
                      .then(response => {
                          if (!response.ok) {
                              throw new Error("Ocurrio un error")
                          }
                          return response.json()
                      })
                      .catch(error => {
                          Swal.showValidationMessage(error)
                      })
                  },
                allowOutsideClick: () => !Swal.isLoading()
            }).then((result) => {
                if (result.value) {
                    Swal.fire({
                        title: "Resultado",
                        text: result.value.message
                    }).then((result) => {
                        window.location = "/paciente/resumen";
                    })
                }
            });
        }
    </script>

    <th:block th:insert="fragments/recursos-js" />
</body>
</html>